@import '~node_modules/modern-normalize/modern-normalize.css';

.loader {
  visibility: hidden;
}
.error {
  visibility: hidden;
}

.error__on {
  visibility: visible;
  color: red;
  font-size: larger;
}

.loader__on {
  visibility: visible;
  color: red;
  font-size: larger;
}

.select__wait {
  visibility: hidden;
}

.cat-info {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.cat-info__wrapper {
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
